@model Inc2SuchTrans.Models.Attendance

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="EveryHeader">Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Attendance</h4>
        <div class="FilterDivAdmin">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Attendance_No)

            <table class="BookingTable">
                <tr>
                    <td>@Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td>@Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Check_In_Time, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td>@Html.EditorFor(model => model.Check_In_Time, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Check_In_Time, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Check_Out_Time, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td>@Html.EditorFor(model => model.Check_Out_Time, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Check_Out_Time, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.DriverNumber, "DriverID", htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td>@Html.DropDownList("DriverID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DriverNumber, "", new { @class = "text-danger" })</td>
                </tr>
            </table>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


