@model Inc2SuchTrans.Models.RatingSummary

@{
    ViewBag.Title = "Create";

}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div>
        <h2 class="EveryHeader" style="color:black">Rate our Services!</h2>
        <div class="FilterDiv">
            
            




            <div class="form-group">
                <div>
                    <form action="" method="post">
                        <h4>Click on the icon which you would like to rate us.</h4>
                        <br />
                        <h4>1 Star = Poor</h4>
                        <h4>2 Stars = Bad</h4>
                        <h4>3 Stars = Satisfactory</h4>
                        <h4>4 Stars = Good</h4>
                        <h4>5 Stars = Excellent</h4>
                        <br />
                        <a href="@Url.Action("Thanks","Rating", new { stars = 1 })" id="1"><img src="~/Content/Images/yellowstar.png" width="80" height="80" /></a> @*<button title="Poor" name="one" value="one" ><img src="~/Content/Images/1Star.jpg" width="80" height="80" /></button>*@
                        <a href="@Url.Action("Thanks","Rating", new { stars = 2 })" id="2"><img src="~/Content/Images/yellowstar.png" width="80" height="80" /></a>@*<button title="Bad" name="two" value="two"><img src="~/Content/Images/2Star.png" width="80" height="80"/></button>*@
                        <a href="@Url.Action("Thanks","Rating", new { stars = 3 })" id="1"><img src="~/Content/Images/yellowstar.png" width="80" height="80" /></a> @*<button title="Satisfactory" name="three" value="three"><img src="~/Content/Images/3Star.png" width="80" height="80" /></button>*@
                        <a href="@Url.Action("Thanks","Rating", new { stars = 4 })" id="1"><img src="~/Content/Images/yellowstar.png" width="80" height="80" /></a> @*<button title="Good" name="four" value="four"><img src="~/Content/Images/4Star.png" width="80" height="80" /></button>*@
                        <a href="@Url.Action("Thanks","Rating", new { stars = 5 })" id="1"><img src="~/Content/Images/yellowstar.png" width="80" height="80" /></a>  @*<button title="Excellent" name="five" value="five"><img src="~/Content/Images/5Star.png" width="80" height="80" /></button>*@
                        <p>@ViewBag.cus</p><p>@ViewBag.star</p><p>@ViewBag.avg</p>
            
            
            
            





                    </form>


                </div>
            </div>
            <div>
                <a href="@Url.Action("Index","Home")">
                    <img src="@Url.Content("~/images/back.png")" alt="Back" title="Back" width="40" height="40" />
                </a>
            </div>
        </div>
    </div>
}





