@model Inc2SuchTrans.Models.Delivery
@section scripts
{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBA13dZ85nJ866fueX4lhX_s83xVrejErY&libraries=places"></script>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Delivery</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DelID)

        <div class="FilterDiv">
            <hr />
            <table class="BookingTable">
                <tr>
                    <td><strong>Delivery Date</strong></td>
                    <td>@Html.EditorFor(model => model.DeliveryDate, new { htmlAttributes = new { @id = "DeliveryDate" } })
                    @Html.ValidationMessageFor(model => model.DeliveryDate, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td><strong>Pick Up Area</strong></td>
                    <td>@Html.TextBoxFor(model => model.PickUpArea, new { @readonly = "readonly", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PickUpArea, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td><strong>Drop Off Area</strong></td>
                    <td>@Html.TextBoxFor(model => model.DropOffArea, new { @readonly = "readonly", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DropOffArea, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td><strong>Drop Off Address</strong></td>
                    <td>@Html.EditorFor(model => model.DropOffAdd, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DropOffAdd, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td><strong>Cargo Size</strong></td>
                    <td>@Html.TextBoxFor(model => model.CargoSize, new { @readonly = "readonly", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CargoSize, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td><strong>Cargo Weighte</strong></td>
                    <td>@Html.TextBoxFor(model => model.CargoWeight, new { @readonly = "readonly", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CargoWeight, "", new { @class = "text-danger" })</td>
                </tr>
            </table>

 

           

            <input type="hidden" name="QuoteID" value="@ViewBag.QID" />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
        </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
