@model IEnumerable<Inc2SuchTrans.ViewModels.ExpenseVM>
@{ Layout = "~/Views/Finances/_FinanceLayout.cshtml"; }
<h1>Summarised Expense Information</h1>
<br />

<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1' data-provide="datepicker">
                    <input type='text' class="form-control"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>

<p>Show Only Transactions after this Date: <input type="datetime" name="txtDate" /></p>
<img class="RoundChart" src="@Url.Action("ExpenseBarGraph")" alt="Chart Unavaliable" /><br /><br/><br/>
<img class="RoundChart" src="@Url.Action("ExpensePieChart")" alt="Chart Unavaliable" /><br /><br/><br/>
<h1>All Expense Transactions</h1>
<br/>
<table class="table">
    <tr>
        <th>
            Transaction ID
        </th>
        <th>
            Transaction Date
        </th>
        <th>
            Description
        </th>
        <th>
            Amount
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.T_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.E_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
    </tr>
}

</table>