@model IEnumerable<Inc2SuchTrans.ViewModels.ExpenseVM>
@{ Layout = "~/Views/Finances/_FinanceLayout.cshtml"; }

<h1>Expense Information</h1>
<br />
<img class="RoundChart" src="@Url.Action("ExpenseBarGraph")" alt="Chart Unavaliable" /><br /><br /><br />
<img class="RoundChart" src="@Url.Action("ExpensePieChart")" alt="Chart Unavaliable" /><br /><br /><br />
<h1>All Expense Transactions</h1>
<br />
@Html.TextBoxFor(model=>model.First().T_Date, new { @class = "datetimepicker1 form-control", placeholder="Enter Date Here", type = "datetime" })
<br/>
<table class="table">
    <tr>
        <th>
            Transaction ID
        </th>
        <th>
            Transaction Date
        </th>
        <th>
            Description
        </th>
        <th>
            Amount
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.T_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.T_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
        </tr>
    }

</table>

<script type="text/javascript">
            $(function () {
                $('.datetimepicker1').datetimepicker();
            });
</script>

@Scripts.Render("~/bundles/datetime")