@model IEnumerable<Inc2SuchTrans.Models.Expense>
@{ Layout = "~/Views/Finances/_FinanceLayout.cshtml"; }
<h1>Summarised Expense Information</h1>
<br />
<img class="RoundChart" src="@Url.Action("ExpenseBarGraph")" alt="Chart Unavaliable" /><br /><br/><br/>
<img class="RoundChart" src="@Url.Action("ExpensePieChart")" alt="Chart Unavaliable" /><br /><br/><br/>
<h1>All Expense Transactions</h1>
<br/>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExpName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monthly)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidTo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExpName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monthly)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaidTo)
        </td>
    </tr>
}

</table>
