@model IEnumerable<Inc2SuchTrans.ViewModels.IncomeVM>
@{ Layout = "~/Views/Finances/_FinanceLayout.cshtml"; }
<h1>Income Information</h1>
<br />
<img class="RoundChart" src="@Url.Action("IncomeBarGraph")" alt="Chart Unavaliable" /><br /><br /><br />
<img class="RoundChart" src="@Url.Action("IncomePieChart")" alt="Chart Unavaliable" /><br /><br /><br />
<h1>All Income Transactions</h1>
<br />
<table class="table">
    <tr>
        <th>
            Transaction ID
        </th>
        <th>
            Transaction Date
        </th>
        <th>
            Description
        </th>
        <th>
            Amount
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.T_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.T_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.I_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
        </tr>
    }

</table>

